*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2bf;
}


.carousel-item{
    width: 100%;
    height: 700px;
}

.car-2{
    width: 400px;
    height: 400px;
    
    position: relative;
}

.car-2:hover{
    opacity: 0.7;
}

.container-gallery{
    position: absolute;
}

